* {
    padding: 0;
    margin: 0;
}

header, footer {
    height: 5vh;
}

#container {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, white, lightgreen);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    width: 60vw;
    height: 100vh;

    margin: auto;
    background-color: #fff;
}

img {
    max-width: 30%;
}

h1, p {
    text-align: center;
    margin: 0 10px 0 10px;
}